<div class="container-fluid">
  <section class="timeline">
    <ul>
      <li>
        <div>
          <time class="job-date">01.2018 - Now</time>
          <time class="job-name">
            <span class="job-highlight">Consultant</span> at Sogeti - Houston</time>
          <time class="job-desc">
            <i class="fa fa-circle"></i> Wrote detailed test cases from BRDs for HCTRA Mobile app and maintained overall responsibility for mobile app development and deployment.
            <br>
            <i class="fa fa-circle"></i> Did frontend work and login service changes on HCTRA's mobile app involving Xamarin.Forms and C#.
            <br>
            <i class="fa fa-circle"></i> Wrote, deployed, and maintained automated QA testing for UI with Xamarin Test Cloud.
          </time>
        </div>
      </li>
      <li>
        <div>
          <time class="job-date">08.2017 - 11.2017</time>
          <time class="job-name">
            <span class="job-highlight">iOS Developer</span> - FamChat</time>
          <time class="job-desc">
            <i class="fa fa-circle"></i> Worked on FamChat’s family messaging app.
            <br>
            <i class="fa fa-circle"></i> Redesigned NativeScript frontend elements
            <br>
            <i class="fa fa-circle"></i> Created registration and calendar-event services requiring calls to Salesforce API.
            <br>
            <i class="fa fa-circle"></i> Helped publish cross-platform compiled packages into app store.
            <br>
          </time>
        </div>
      </li>
      <li>
        <div>
          <time class="job-date">06.2017 - 08.2017</time>
          <time class="job-name">
            <span class="job-highlight">IT Intern</span> - Metropolitan Transit Authority of Harris County</time>
          <time class="job-desc">
            <i class="fa fa-circle"></i> Responsible for gathering troubleshooting issues and summarizing them into a weekly report for management.
            <br>
            <i class="fa fa-circle"></i> Did frontend work on ASP pages by visually updating their tech support portal with Bootstrap.
            <br>
            <i class="fa fa-circle"></i> Worked on end-user app testing for Bluetooth beacon project for the visually impaired sponsored by Google grant.
            <br>
            <i class="fa fa-circle"></i> Added floor plans of bus transit centers to google maps for route navigation.
            <br>
            <i class="fa fa-circle"></i> Helped push installations for Windows OS upgrade and troubleshoot problems for users.
          </time>
        </div>
      </li>
      <li>
        <div>
          <time class="job-date">05.2015 - 08.2015</time>
          <time class="job-name">
            <span class="job-highlight">Web App Developer</span> - Data Analytics in Student Hands</time>
          <time class="job-desc">
            <i class="fa fa-circle"></i> Developed apps for non-profit organizations Harris Health to service Community Health Workers for navigating healthcare systems, enroll in certification training classes, and seek medical assistance resources.
            <br>
            <i class="fa fa-circle"></i> Communicated with clients on UI designs, functionality, and data management.
            <br>
            <i class="fa fa-circle"></i> Added the front end functionality using AngularJS, CSS. Ionic. Created controllers for search functionality with added visual dropdowns and filter options.
          </time>
        </div>
      </li>
      <li>
        <div>
          <time class="job-date">08.2014 - 12.2017</time>
          <time class="job-name">
            <span class="job-highlight">Student</span> - University of Houston, College of Natural Science and Mathematics</time>
            <time class="job-desc">
              <i class="fa fa-circle"></i> Bachelor of Science in Computer Science
              <br>
              <i class="fa fa-circle"></i> Cum. GPA: 3.5
              <br>
              <i class="fa fa-circle"></i> Dean's List
              <br>
            </time>
        </div>
      </li>
      <!-- <li>
        <div>
          <time class="job-date">2013 - 2014</time>
          <time class="job-name">Politechnika Krakowska -
            <span class="job-highlight">mgr inż.</span>
          </time>
          <time class="job-desc">
            <i class="fa fa-circle"></i> kier. Automatyka i robotyka
            <br>
            <i class="fa fa-circle"></i> spec. Technologie informacyjne w systemach produkcyjnych
          </time>
        </div>
      </li>
      <li>
        <div>
          <time class="job-date">2009 - 2013</time>
          <time class="job-name">Politechnika Rzeszowska -
            <span class="job-highlight">inż.</span>
          </time>
          <time class="job-desc">
            <i class="fa fa-circle"></i> kier. Mechatronika
            <br>
            <i class="fa fa-circle"></i> spec. Informatyka i robotyka
          </time>
        </div>
      </li> -->
    </ul>
  </section>

</div>
