<div id="section1" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<div class="alert alert-success text-center" *ngIf="authService.user | async">
				<h4 class="mb-0">
					Jesteś zalogowany jako
					<span style="font-weight: bold">
						{{ (authService.user | async)?.email }} !
					</span>
					<p class="pt-2 mb-0">
						Ilość wiadomości
						<span class="badge badge-warning">{{ (dashboardContactComponent.messages$ | async)?.length }}</span>
					</p>
				</h4>
			</div>
			<h3>About me</h3>
			<div class="row mt-5">
				<div class="col-sm-8">
					<div class="text-justify">
						<h4 style="text-align: left !important;">Just trying to get really good at making <br> something to get somewhere.</h4>
						<p class="pt-2">
							This is my short portfolio page of my skills, projects and positions throughout the course of my career.
						</p>
						<p>
							Currently, I work as a consultant at Sogeti - Houston. I'm super hungry as my role as a code monkey to grind out projects and move up not only in my skill set, but also
							higher in my role of the company.
						</p>
						<p>
							In my free time, I like to catch up on what each of my circles are doing. I'm always down to jump in many activities from volunteering, intramural sports, and board game nights to tech meetups, conference talks, and side programming projects.
						</p>
						<p>Check out my projects on my
							<a href="https://github.com/dottry" target="_blank" rel="noopener">GitHub</a>.
						</p>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="mx-auto">
						<img src="assets/images/me.jpg" class="my-photo">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/header.jpg" alt="">
</div>
<div id="section2" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<h3 class="pb-5">Skills
				<p style="font-size: 11px; padding-top: 5px;">
					<span style="color: var(--important-lvl-3)">*wg. często</span><span style="color: var(--important-lvl-2)">tliwośći uż</span><span style="color: var(--important-lvl-1)">ywania</span>
				</p>
			</h3>
			<div class="row pb-4">
				<div class="col-sm-2 mx-auto skill-logo">
					<img src="../../assets/images/rust.svg" class="skill-svg">
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<div class="skill-logo">
						<img src="../../assets/images/java.svg">
					</div>
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<div class="skill-logo">
						<img src="../../assets/images/js.svg">
					</div>
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<div class="skill-logo">
						<img src="../../assets/images/android.svg">
					</div>
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<div class="skill-logo">
						<img src="../../assets/images/ps.svg">
					</div>
				</div>
			</div>
			<hr class="style-one">
			<div class="row skills-font pb-1 pt-4 text-center">
				<div class="col-sm-6">
					<h4>Backend</h4>
					<p>
						<span style="color: var(--important-lvl-3)">Rust,</span>
						<span style="color: var(--important-lvl-2)">Java, Spring</span>
						<span style="color: var(--important-lvl-1)">Unity - C#, Node.js</span>
					</p>
				</div>
				<div class="col-sm-6">
					<h4>Front-end</h4>
					<p>
						<span style="color: var(--important-lvl-3)">HTML, CSS, Bootstrap,</span>
						<span style="color: var(--important-lvl-2)">JavaScript</span>
						<span style="color: var(--important-lvl-1)">Angular, React</span>
					</p>
				</div>
			</div>
			<div class="row skills-font pb-1 text-center">
				<div class="col-sm-6">
					<h4>Databases</h4>
					<p>
						<span style="color: var(--important-lvl-3)">SQL, Firebase,</span>
						<span style="color: var(--important-lvl-2)">Hibernate,</span>
						<span style="color: var(--important-lvl-1)">MongoDB</span>
					</p>
				</div>
				<!-- <div class="col-sm-6">
					<h4>Testy</h4>
					<p>
						<span style="color: var(--important-lvl-3)">UT, TDD,</span>
						<span style="color: var(--important-lvl-2)">integracyjne</span>
					</p>
				</div>
			</div>
			<div class="row skills-font pb-1 text-center">
				<div class="col-sm-6">
					<h4>OS</h4>
					<p>
						<span style="color: var(--important-lvl-3)">Windows,</span>
						<span style="color: var(--important-lvl-2)">Linux,</span>
						<span style="color: var(--important-lvl-1)">Android</span>
					</p>
				</div>
				<div class="col-sm-6">
					<h4>Grafika</h4>
					<p>
						<span style="color: var(--important-lvl-3)">Adobe Photoshop,</span>
						<span style="color: var(--important-lvl-1)">Adobe Premiere</span>
					</p>
				</div>
			</div> -->
			<div class="row skills-font pb-1 text-center">
				<div class="col-sm-12">
					<h4>Narzędzia</h4>
					<p>
						<span style="color: var(--important-lvl-3)">VS Code, Git, npm,</span>
						<span style="color: var(--important-lvl-2)">Maven, Travis, Webpack, Gulp,</span>
						<span style="color: var(--important-lvl-1)">Bower, Gradle</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/keyboard.jpg" alt="">
</div>
<div id="section3" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<h3 class="pb-5">Timeline</h3>
			<app-experience>
				<div class="centered-element">
					<div class="loader"></div>
				</div>
			</app-experience>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/code.jpg" alt="">
</div>
<div id="section4" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-8 col-xl-7 mx-auto">
			<h3 class="pb-5">Projects</h3>
			<app-projects>
				<div class="centered-element">
					<div class="loader"></div>
				</div>
			</app-projects>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/motherboard.jpg" alt="">
</div>
<div id="section5" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<h3 class="pb-5">Contact</h3>
			<app-form>
				<div class="centered-element">
					<div class="loader"></div>
				</div>
			</app-form>
		</div>
	</div>
</div>
